<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>创建用户</title>
  <link rel="stylesheet" type="text/css" href="__ROOT__/static/css/common.css">
</head>

<body>
  <h2>创建用户</h2>
  <FORM method="post" class="form" action="{:url('admin/user/add')}">
    昵 称：
    <INPUT type="text" class="text" name="nickname"><br/> 邮箱：
    <INPUT type="text" class="text" name="email"><br/> 生日：
    <INPUT type="text" class="text" name="birthday"><br/>
    <input type="hidden" name="__token__" value="{$Request.token}" />
    <INPUT type="submit" class="btn" value=" 提交 ">
  </FORM>
  <div class="copyright">
    <a title="官方网站" href="http://www.thinkphp.cn">ThinkPHP</a>
    <span>V5</span>
    <span>{ 十年磨一剑-为API开发设计的高性能框架 }</span>
  </div>
  <script>
    
  </script>
</body>

</html>
